In [1]:
import os
import re
import nltk
import spacy
import string
import textract
import pandas as pd
import seaborn as sns
from matplotlib import pylab
from matplotlib import pyplot as plt

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

In [2]:
os.listdir(r'C:\Users\prajw\Desktop\P608-Dataset\Resumes_Docx')

['Peoplesoft Resume', 'React Developer', 'SQL Developer', 'workday']

In [3]:
file_path1 = []
category1  = []
directory1 = r'C:\Users\prajw\Desktop\P608-Dataset\Resumes_Docx\Peoplesoft Resume'
for i in os.listdir(directory1):
    if i.endswith('.docx'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))).decode('utf-8'))
        category1.append('PeopleSoft')

In [4]:
data1 = pd.DataFrame(data = file_path1 , columns = ['Raw_Details'])
data1['Category1'] = category1
data1

                                          Raw_Details   Category1
0   Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft
1   G. Ananda Rayudu \n\n\t\t       https://www.li...  PeopleSoft
2   PeopleSoft Database Administrator\n\n         ...  PeopleSoft
3   Classification: Internal\n\nClassification: In...  PeopleSoft
4   Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...  PeopleSoft
5   SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...  PeopleSoft
6   PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS.K...  PeopleSoft
7   PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...  PeopleSoft
8   Vinod Akkala                                  ...  PeopleSoft
9   PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanesh ...  PeopleSoft
10  PeopleSoft Administration\n\n \n\nVivekanand S...  PeopleSoft
11  Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\n\...  PeopleSoft
12  Personal Details\t\t\n\n\n\nName\n\nPritam Bis...  PeopleSoft
13  Rahul Ahuja\n\n-------------------------------...  PeopleSoft
14  Hari Narayana \t\t              \n\n\t\n\n\n\n...  PeopleSoft
15  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...  PeopleSoft
16  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...  PeopleSoft
17  R Ahmed                                       ...  PeopleSoft
18  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...  PeopleSoft
19  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...  PeopleSoft

In [5]:

file_path2 = []
category2  = []
directory2 = r'C:\Users\prajw\Desktop\P608-Dataset\Resumes_Docx\React Developer'
for i in os.listdir(directory2):
    if i.endswith('.docx'):
        os.path.join(directory2, i)
        file_path2.append((textract.process(os.path.join(directory2, i))).decode('utf-8'))
        category2.append('React JS Developer')

In [6]:
data2 = pd.DataFrame(data = file_path2 , columns = ['Raw_Details'])
data2['Category2'] = category2
data2

                                          Raw_Details           Category2
0   Name: Ravali P \n\n\n\n                       ...  React JS Developer
1   SUSOVAN  BAG   \n\nSeeking  a  challenging  po...  React JS Developer
2   Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...  React JS Developer
3   HARIPRIYA BATTINA \n\nExperience as UI Develop...  React JS Developer
4   KAMALAKAR REDDY. A \n\nLinked In: https://www....  React JS Developer
5   Naveen Sadhu\n\n\n\n\n\nTitle: software develo...  React JS Developer
6   FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER\n...  React JS Developer
7   PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...  React JS Developer
8   SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...  React JS Developer
9   Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...  React JS Developer
10  Maryala Vinay Reddy\n\n\n\n\tProfessional Summ...  React JS Developer
11  Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
12  Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
13  CURRICULUM VITAE\n\n\n\n\n\n\n\nAnjani Priyada...  React JS Developer
14  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...  React JS Developer
15  Venkatalakshmi Pedireddy\n\nSoftware Developer...  React JS Developer
16  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...  React JS Developer
17  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...  React JS Developer
18  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...  React JS Developer
19  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...  React JS Developer
20  Name: M. Prabakaran \n\nTitle: UI Developer \n...  React JS Developer
21  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...  React JS Developer
22  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...  React JS Developer
23  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...  React JS Developer

In [7]:
file_path3 = []
category3  = []
directory3 = r'C:\Users\prajw\Desktop\P608-Dataset\Resumes_Docx\SQL Developer'
for i in os.listdir(directory3):
    if i.endswith('.docx'):
        os.path.join(directory3, i)
        file_path3.append((textract.process(os.path.join(directory3, i))).decode('utf-8'))
        category3.append('SQL Developer')

In [8]:
data3 = pd.DataFrame(data = file_path3 , columns = ['Raw_Details'])
data3['Category3'] = category3
data3

                                          Raw_Details      Category3
0   ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...  SQL Developer
1   Aradhana Tripathi\n\n\n\nCurrent Location: Gac...  SQL Developer
2   BUDDHA VAMSI                                  ...  SQL Developer
3   KAMBALLA PRADEEP                              ...  SQL Developer
4    Hyderabad\n\n\nNazeer Basha\n\nSQL and Power...  SQL Developer
5   Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...  SQL Developer
6   SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...  SQL Developer
7   SQL SERVER DEVELOPER\n\n\n\n\n\nPriyanka L    ...  SQL Developer
8   SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...  SQL Developer
9   RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...  SQL Developer
10  resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...  SQL Developer
11  Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...  SQL Developer
12  Tatikonda Kiran Kumar.\n\n\n\n\n\n\n\n\t\tCare...  SQL Developer
13  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...  SQL Developer

In [9]:
file_path4 = []
category4  = []
directory4 = r'C:\Users\prajw\Desktop\P608-Dataset\Resumes_Docx\workday'
for i in os.listdir(directory4):
    if i.endswith('.docx'):
        os.path.join(directory4, i)
        file_path4.append((textract.process(os.path.join(directory4, i))).decode('utf-8'))
        category4.append('Workday')

In [10]:

data4 = pd.DataFrame(data = file_path4 , columns = ['Raw_Details'])
data4['Category4'] = category4
data4

                                          Raw_Details Category4
0   Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...   Workday
1   Name         : Gopi Krishna Reddy\n\n\t\t\t\t ...   Workday
2   Hari Krishna M\n\n\n\n\n\nSummary:\n\nA result...   Workday
3   Harikrishna Akula                             ...   Workday
4   HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n\n...   Workday
5   G Himaja\n\n                                  ...   Workday
6   Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSIONAL...   Workday
7   JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...   Workday
8   Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE SUM...   Workday
9   Mooraboyina Guravaiah\n\nWorkday Integration S...   Workday
10  Name\t: Naresh Babu Cherukuri\n\n\n\nObjective...   Workday
11  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...   Workday
12  Punugoti Swetha\n\nWorkday Technical Consultan...   Workday
13  Workday HCM  Techno functional Consultant     ...   Workday
14  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...   Workday
15  Shireesh Balasani                             ...   Workday
16  Workday Integration Consultant\n\n\n\nName    ...   Workday
17  Srikanth (WORKDAY hCM Consultant)\t           ...   Workday
18  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...   Workday
19  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...   Workday
20  Vinay kumar .v\nWorkday Functional Consultant\...   Workday

In [11]:
resume_data = pd.concat([data1, data2, data3, data4], ignore_index=True)
resume_data

,Raw_Details,Category1,Category2,Category3,Category4
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN
1,G. Ananda Rayudu \n\n\t\t https://www.li...,PeopleSoft,NaN,NaN,NaN
2,PeopleSoft Database Administrator\n\n ...,PeopleSoft,NaN,NaN,NaN
3,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN
4,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",PeopleSoft,NaN,NaN,NaN
...,...,...,...,...,...
74,Workday Integration Consultant\n\n\n\nName ...,NaN,NaN,NaN,Workday
75,Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,NaN,Workday
76,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,NaN,NaN,NaN,Workday
77,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,NaN,NaN,NaN,Workday
78,Vinay kumar .v\nWorkday Functional Consultant\...,NaN,NaN,NaN,Workday

In [12]:
resume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Raw_Details  79 non-null     object
 1   Category1    20 non-null     object
 2   Category2    24 non-null     object
 3   Category3    14 non-null     object
 4   Category4    21 non-null     object
dtypes: object(5)
memory usage: 3.2+ KB

In [13]:
resume_data['Category'] = category1 + category2 + category3 + category4
resume_data

,Raw_Details,Category1,Category2,Category3,Category4,Category
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
1,G. Ananda Rayudu \n\n\t\t https://www.li...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
2,PeopleSoft Database Administrator\n\n ...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
3,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
4,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",PeopleSoft,NaN,NaN,NaN,PeopleSoft
...,...,...,...,...,...,...
74,Workday Integration Consultant\n\n\n\nName ...,NaN,NaN,NaN,Workday,Workday
75,Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,NaN,Workday,Workday
76,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,NaN,NaN,NaN,Workday,Workday
77,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,NaN,NaN,NaN,Workday,Workday
78,Vinay kumar .v\nWorkday Functional Consultant\...,NaN,NaN,NaN,Workday,Workday

In [14]:
resume_data.drop(['Category1', 'Category2', 'Category3', 'Category4'], axis = 1, inplace = True)
resume_data = resume_data[["Category", "Raw_Details"]]

In [15]:
resume_data.head(15)

      Category                                        Raw_Details
0   PeopleSoft  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...
1   PeopleSoft  G. Ananda Rayudu \n\n\t\t       https://www.li...
2   PeopleSoft  PeopleSoft Database Administrator\n\n         ...
3   PeopleSoft  Classification: Internal\n\nClassification: In...
4   PeopleSoft  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...
5   PeopleSoft  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...
6   PeopleSoft  PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS.K...
7   PeopleSoft  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...
8   PeopleSoft  Vinod Akkala                                  ...
9   PeopleSoft  PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanesh ...
10  PeopleSoft  PeopleSoft Administration\n\n \n\nVivekanand S...
11  PeopleSoft  Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\n\...
12  PeopleSoft  Personal Details\t\t\n\n\n\nName\n\nPritam Bis...
13  PeopleSoft  Rahul Ahuja\n\n-------------------------------...
14  PeopleSoft  Hari Narayana \t\t              \n\n\t\n\n\n\n...

In [16]:
resume_data["Raw_Details"][4]

'Priyanka Ramadoss\n\n\t61/46, MountPleasant, \n\n\tCoonoor\n\n\tThe Nilgiris- 643102                                                                                            \n\n\t\n\nCareer Objective\n\n\n\nTo excel as a software professional by working in a learning and challenging environment and utilize the skills and knowledge through diligence, dedication and ensure maximum contribution to the growth of the organization I work for.\n\n\t\n\nProfile Summary\n\n\n\nAn Adept IT professional with 4.11 years (September 2016 - present) of experience as Peoplesoft Admin with Accenture\n\n\t\n\nProfessional Summary\n\n\n\nPeopleSoft Administrator (September 2016-Present)\n\n\n\nExperience in PeopleSoft Administration for Finance application.\n\nProficient in creating and configuring PeopleSoft components like Web server, Application server and process schedulers.\n\nActive monitoring in Non production databases and applications.\n\nKnowledgeable on PeopleSoft migrations using application designer, data mover and taking compare reports and also moving the codes from DEV to TEST and production environments.\n\nUsage of HP PPM tool as well to perform PeopleSoft migrations and compare report generation.\n\nFull life cycle installation of PeopleSoft Environments.\n\nPre and Post database Refresh activities.\n\nChange package creation and applying bug fixes using change assistant to Peoplesoft DB. \n\nProficient in administration of Peoplesoft server components like application server, process scheduler, webserver. (Peoplesoft Internet Architecture)\n\nGood knowledge on basic PeopleSoft configurations like Integration Broker setup, PUM Setup, SSL and File attachments and trouble shooting them.\n\nHands on experience in Peoplesoft security level activities like creating user profile, assigning roles and permission list.\n\nSSO login creation for users by renewing web certificates.\n\nPerforming SOX checks and migrations as part of Production releases on monthly basis.\n\nConversant on the usage of Control-M V9 tool that is used for creating and scheduling the jobs.\n\nExperienced in setting up batch profile setup in server level for running control-m jobs in testing and production environments. \n\nPeoplesoft batch monitoring and implementation.\n\nWorked on Change Assistant.\n\nExperience in applying People tools patches.\n\nExperience in creating change packagees and target databases in CA and online.\n\nExperience in working in both Unix and Windows.\n\nWorked on Delphix virtual databases for non production database refreshes.\n\nCarrying out maintenance activities in servers.\n\nGood communication, Leadership abilities and problem solving skills.\n\n\n\nVMware ITBM Application Support Associate \n\n\n\nConfiguring and maintaining infrastructure for ITBM application in Windows OS.\n\nWorked on Apache Tomcat 7.0.39 and 7.0.52.\n\nVMware ITBM 80 and 82 versions on windows server.\n\nSSL configuration\n\nComplete batch setup in windows envrironment.\n\nHandling production and non production databases in ITBM\n\n\n\n\n\nTools and Technologies\n\n\n\nOperating Systems\n\nWindows 2007/2008/2012 server R2\n\n Solaris Server and Linux Red hat Version\n\nApache Tomcat 7.0.39 and 7.0.52\n\nAWS Service Tools\n\nCompute\n\nStorage\n\nNetworks\n\nDatabases\n\nMonitoring\n\nIdentity access management\n\nProject Management Tools\n\nOdyssey Dashboard\n\nOdyssey JIRA\n\nService Now\n\nTransporter\n\n\n\nDatabases\n\nSQL Developer\n\n\n\nPeopleSoft People Tools\n\n8.55.06\n\n8.55.22\n\n8.57\n\n\n\nPeopleSoft Application\n\n   FSCM and 9.22 version\n\n\n\nReporting and PS Tools\n\nApplication Designer\n\nData Mover\n\nDelphix virtual database\n\nConfiguration Manager\n\nChange Assistant\n\nSQR, N-Vision,\n\nControl-M Scheduler \n\nHP PPM\n\nSQL developer\n\nCentrify Putty\n\nConfiguration manager\n\n\t\n\n\t\n\nKey Achievements :\n\n\n\n\tInfrastructure support for Production environments and also provide system contingency plans.\n\n\tAnalyze technical and functional aspects of the supported applications and troubleshoot problems based on requirements.\n\n\tDetailed Analysis and Reporting of Project activities.\n\n\t\n\n\tExperience Summary:\n\n\t\n\n\tOrganization : Accenture Solutions Pvt Ltd.\n\n\tClient : Credit - Suisse\n\n\tClient Description : Credit Suisse Group AG is a global wealth manager, investment bank and financial services company providing services in investment banking, provate banking and asset management and sahred services.\n\n\tResponsibility:  Environment administration and management for a financial application.\n\n\tLocation : Bangalore\n\n\tDuration : September 2016- Present\n\n\t\n\n\t\n\nEducation\n\n\n\n\n\nCourse\n\n\n\nSchool/College\n\n\n\nBoard/University\n\nYear of passing\n\n\n\nPercentage\n\n\n\nB.E - ECE\n\n\n\nSri Krishna College of Engineering and Technology, Coimbatore\n\n\n\nAnna University\n\n\n\n2016\n\n86%\n\n\t\n\n\n\nHSC\n\nBharathi Vidya Bhavan,\n\nErode\n\nState Board of Technical Education\n\n\t\n\n\t2012\n\n\t\t             96.08%\n\n\t\t        School Topper\n\nS.S.L.C\n\nSt. Joseph’s Convent Anglo Indian Girls Higher Secondary School,\n\nThe Nilgiris\n\nAnglo-Indian\n\n2010\n\n\t\t93.8%\n\n\t\t          District Third\n\n\n\nPersonal Profile\n\n\n\nOotacamund  (Ooty),\n\nTamil Nadu district\n\nPlace of birth\n\nTamil – Native\n\nEnglish - Advanced- Comprehension - Oral\n\nKannada - Intermediate – Oral\n\nHindi -  Intermediate\n\nSanskrit- Intermediate\n\nLanguages\n\nReading books, Yoga, Gardening, Surfing.\n\nHobbies'

In [17]:
resume_data.to_csv('Resume.csv', index=False)

In [18]:
resume_data = pd.read_csv("Resume.csv")
resume_data

      Category                                        Raw_Details
0   PeopleSoft  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...
1   PeopleSoft  G. Ananda Rayudu \n\n\t\t       https://www.li...
2   PeopleSoft  PeopleSoft Database Administrator\n\n         ...
3   PeopleSoft  Classification: Internal\n\nClassification: In...
4   PeopleSoft  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...
..         ...                                                ...
74     Workday  Workday Integration Consultant\n\n\n\nName    ...
75     Workday  Srikanth (WORKDAY hCM Consultant)\t           ...
76     Workday  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
77     Workday  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...
78     Workday  Vinay kumar .v\nWorkday Functional Consultant\...

[79 rows x 2 columns]

In [19]:
resume_data[resume_data.Category == 'Workday']

   Category                                        Raw_Details
58  Workday  Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...
59  Workday  Name         : Gopi Krishna Reddy\n\n\t\t\t\t ...
60  Workday  Hari Krishna M\n\n\n\n\n\nSummary:\n\nA result...
61  Workday  Harikrishna Akula                             ...
62  Workday  HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n\n...
63  Workday  G Himaja\n\n                                  ...
64  Workday  Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSIONAL...
65  Workday  JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...
66  Workday  Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE SUM...
67  Workday  Mooraboyina Guravaiah\n\nWorkday Integration S...
68  Workday  Name\t: Naresh Babu Cherukuri\n\n\n\nObjective...
69  Workday  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...
70  Workday  Punugoti Swetha\n\nWorkday Technical Consultan...
71  Workday  Workday HCM  Techno functional Consultant     ...
72  Workday  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
73  Workday  Shireesh Balasani                             ...
74  Workday  Workday Integration Consultant\n\n\n\nName    ...
75  Workday  Srikanth (WORKDAY hCM Consultant)\t           ...
76  Workday  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
77  Workday  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...
78  Workday  Vinay kumar .v\nWorkday Functional Consultant\...

In [20]:
resume_data.isnull().sum()

Category       0
Raw_Details    0
dtype: int64

In [21]:
resume_data['Word_Count'] = resume_data['Raw_Details'].apply(lambda x: len(str(x).split(" ")))
resume_data[['Raw_Details','Word_Count']].head()

                                         Raw_Details  Word_Count
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        1023
1  G. Ananda Rayudu \n\n\t\t       https://www.li...        1451
2  PeopleSoft Database Administrator\n\n         ...        1346
3  Classification: Internal\n\nClassification: In...         558
4  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...         667

In [22]:
resume_data['Char_Count'] = resume_data['Raw_Details'].str.len() ## this also includes spaces
resume_data[['Raw_Details','Char_Count']].head()

                                         Raw_Details  Char_Count
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        8010
1  G. Ananda Rayudu \n\n\t\t       https://www.li...        8394
2  PeopleSoft Database Administrator\n\n         ...        6900
3  Classification: Internal\n\nClassification: In...        4917
4  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...        5196